*{
    margin : 0;
    padding : 0;
}
body{
    margin: 1em;
}
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    align-items: center;
    /* justify-content: space-between; */
    /* margin-bottom: 1em; */
}

header img {
    width: 4em;
    height: auto;
    /* margin: 1em; */
}
header h1{
    margin-left: 0.5em;
}
#nav-hr{
    border-bottom : 1px solid black;
    box-shadow: 0px 2px #888888;
    margin: 1em 0;
}
.space-around-ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1em;
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    /* border: 1px solid black; */
}
.container img{
    width : 100%;
    margin-bottom: 14em;
}
article{
    background-color: white;
    position: absolute;
    top: 25em;
    /* bottom: 0; */
    /* height: 40%; */
    width: 100%;
    /* border: 2px solid black; */
    /* padding: 1em; */
    font-size: 1.2em;
    letter-spacing: 0.1em;
}

article .top-article{
    border: 1px solid black;
    border-top: 0px;
    padding: 1em 0;
    /* margin : 1em; */
}
article .top-article h3, article .top-article p{
        margin : 0 1em;
    /* padding: 0 1em; */
}

article li{
    list-style: none;
}

.news-bulletin header, .latest-news-nav header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1em;
    border-bottom: 1px solid black;
}
.news-bulletin ul{
    margin: 0 1em;
}
.news-bulletin ul li{
    margin : 0.5em 0;
    border-bottom: 1px solid black;
}

table{
    width : 100%;
    text-align: center;
    margin: 1em;
}

td{
    height: 2em;
}

td:first-child{
    text-align : left;
}
.weather{
    /* margin-top: 250em; */
    display :flex;
    flex-direction: column;
    margin : 0 1em;
}
.current-weather{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.weather-prediction{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1em;
}

.latest-news-nav header{
    margin-bottom : 1em;
}

.latest-news{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    margin: 1em;
}
.article{
    width : 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* vertical-align: top; */
}
.image{
    flex: 0 0 6em;
    height: auto;
    /* align-items: flex-start; */
    /* flex-basis: 30%; */
    /* width: 20%; */
}
.image img{
    /* flex-grow:1; */
    /* flex : 1; */
    width: 10em;
    height: auto;
}
.about{
    /* flex: 9; */
    /* display: flex; */
    /* flex-direction: column; */
    align-items: flex-start;
}
.about h2{
    margin-bottom: 0.1em;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 1px 2px solid black;
    margin: 0 1em;
    /* padding: 1em; */
}
ul{
    margin-top : 1em;
}
footer ul li {
    margin: 0 1.5em;
}

p span{
    font-size: 1.5em;
    font-weight: 700;
}

.jugaad{
    margin: 0 1em;
    font-size: 1.1em;
    margin-bottom: 1em;
}
.jugaad img{
    margin : 0.1em;
}
.hamburger{
    display: none;
}

@media only screen and (max-width: 900px) {
    .container, article{
        position: static;
    }
    .container img{
        margin: 0;
        height: 90%;
        /* column-fill: balance; */
        /* margin-bottom: 10em; */
    }
    .medium-screen{
        /* background-color: #888888; */
        display: flex;
        flex-direction: row;
        /* flex-wrap: wrap; */
        position: relative;
        /* margin-bottom: 20em; */
    }
    .top-article{
        background-color: black;
        opacity: 0.9;
        color: white;
        position: absolute;
        width : 55%;
        /* width : inherit; */
        height: auto;
        /* top : 10em; */
        bottom : 1em;
        font-size: 0.7em;
        margin: 1em 0;
    }
    .news-bulletin{
        position: absolute;
        /* position : relative; */
    }
    table{
        position : absolute;
        top: 28em;
    }
    table thead tr{
        color : white;
        background-color: darkcyan;
    }
    tbody tr:nth-child(even){
        color: white;
        background-color: darkolivegreen;
    }
    .latest-news-nav{
        margin-top : 35em;
    }
  }

  @media only screen and (max-width: 600px) {
    *{
        position : static;
    }
    header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 0.9em;
        letter-spacing: 0;
    }
    header img{
        width: 3em;
    }
    .container, article, .medium-screen{
        position : static;
    }
    .medium-screen{
        /* display: flex; */
        /* flex-direction: column; */
        display: block;
    }
    .container{
        position: relative;
        margin-bottom: 70em;
    }
    .top-article{
        width : 100%;
        position : absolute;
        bottom : -1em;

    }
    .news-bulletin{
        position: absolute;
        top : 15em;
    }
    table{
        position: absolute;
        top : 40em;
    }
    .weather{
        position: absolute;
        /* display: flex; */
        /* flex-direction: row; */
        /* align-content: space-between; */
        top : 75em;
        /* margin-bottom: 10em; */
    }
    /* .weather-prediction{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    } */
    .small-screen{
        /* background-color: red; */
        display : flex;
        display: row;
        font-size: 0.9em;
    }
    .small-screen nav{
        display: none;
    }
    .small-screen .hamburger{
        /* align-content: flex-end; */
        display: block;
        color : grey;
        /* width: 100%; */
        font-size: 2em;
        align-self: flex-end;
        text-align: right;        
    }
    .hamburger i {
        margin-left: 0.4em;
    }
  }